doctype html
- var pageTitle = 'Online Tv'
html(lang="ru")
    head
        title= pageTitle
        link(rel="stylesheet", href="styles/style.css")
        link(rel="stylesheet", href="styles/normalize.css")
    body
        include modules/header 

        section.section-banner
            img(src="./images/Hero.png", alt="Banner").section-banner__image
            .container
                .banner
                    h1.banner__title Zack Snyder's Justice League
                    .banner-info
                        span.banner-info__year 2021
                        span.banner-info__age 18+
                        span.banner-info__time 4h 2min
                        span.banner-info__rating 8.8
                    p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
                    .banner-control
                        button.banner-control__btn.banner-control__btn-main Watch
                        button.banner-control__btn.banner-control__btn-more More information
        section.section
            .container
                h2.section__h2
                    a(href="#").section__h2-link Trending TV Shows
                .movies
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters01.png", alt="movies After").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters02.png", alt="movies eMANcipatin").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters03.png", alt="movies DUNKIRK").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters04.png", alt="movies the enormity of life").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters05.png", alt="movies vantas").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters06.png", alt="movies something like perfect").movies__img
        section.section
            .container
                h2.section__h2
                    a(href="#").section__h2-link Trending Movies
                .movies
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters07.png", alt="movies After").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters08.png", alt="movies eMANcipatin").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters09.png", alt="movies DUNKIRK").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters10.png", alt="movies the enormity of life").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters11.png", alt="movies vantas").movies__img
                    .movies-item
                        a(href="#").movies__link
                            img(src="./images/posters/posters12.png", alt="movies something like perfect").movies__img
                button.section__btn See more
        section.section
            .container
                h2.section__h2
                    a(href="#").section__h2-link Popular Genres
                .genres
                    .genres-item.genres-item_romance
                        .genres-icon
                            img(src="./images/genres/romanse.svg", alt="Romanse").genres__image
                        h3.genres__title Romanse
                    .genres-item.genres-item_drama
                        .genres-icon
                            img(src="./images/genres/drama.svg", alt="Drama").genres__image
                        h3.genres__title Drama
                    .genres-item.genres-item_historical
                        .genres-icon
                            img(src="./images/genres/historical.svg", alt="Historical").genres__image
                        h3.genres__title Historical
                    .genres-item.genres-item_action
                        .genres-icon
                            img(src="./images/genres/action.svg", alt="Action").genres__image
                        h3.genres__title Action
                    .genres-item.genres-item_SciFi
                        .genres-icon
                            img(src="./images/genres/sci-fi.svg", alt="Sci-fi").genres__image
                        h3.genres__title Sci-fi
                    .genres-item.genres-item_horror
                        .genres-icon
                            img(src="./images/genres/horror.svg", alt="Horror").genres__image
                        h3.genres__title Horror
                    .genres-item.genres-item_comedy
                        .genres-icon
                            img(src="./images/genres/comedy.svg", alt="Comedy").genres__image
                        h3.genres__title Comedy
                    .genres-item.genres-item_documentary
                        .genres-icon
                            img(src="./images/genres/documentary.svg", alt="Documentary").genres__image
                        h3.genres__title Documentary
        section.section
            .container
                h2.section__h2
                    a(href="#").section__h2-link Popular Actors & Directors
                .actors
                    .actors-item
                        a(href="#").actors__link
                            img(src="./images/acters/Samantha-Bowen.png", alt="actors Samantha-Bowen").actors__img
                        h3.actors__title Samantha-Bowen
                    .actors-item
                        a(href="#").actors__link
                            img(src="./images/acters/Rhys-Birch.png", alt="actors Samantha-Bowen").actors__img
                        h3.actors__title Rhys-Birch
                    .actors-item
                        a(href="#").actors__link
                            img(src="./images/acters/James-Holloway.png", alt="actors Samantha-Bowen").actors__img
                        h3.actors__title James-Holloway
                    .actors-item
                        a(href="#").actors__link
                            img(src="./images/acters/Joshua-Walton.png", alt="actors Samantha-Bowen").actors__img
                        h3.actors__title Joshua-Walton
                    .actors-item
                        a(href="#").actors__link
                            img(src="./images/acters/Patrick-Elliott.png", alt="actors Samantha-Bowen").actors__img
                        h3.actors__title Patrick-Elliott
                    .actors-item
                        a(href="#").actors__link
                            img(src="./images/acters/Morgan-ONeill.png", alt="actors Samantha-Bowen").actors__img
                        h3.actors__title Morgan-ONeill
        section.section
            .container
                .marketing
                    .marketing-item
                        a(href="#").marketing__link
                            img(src="./images/marketing/BigBuckBunny-Opening.png", alt="BigBuckBunny-Opening").marketing__img
                    .marketing-item
                        a(href="#").marketing__link
                            img(src="./images/marketing/BigBuckBunny-Opening2.png", alt="BigBuckBunny-Opening2").marketing__img
        section.section
            .container
                .offer
                    .h3.offer__title Are You New Here ? Don’t&nbsp;wait, Register Now. 
                    button.offer__btn Register Now

        include modules/footer